@charset "UTF-8";
#mass-spec-result {
    border:5px solid #00a7ea;
    padding:10px;
    background:#03c9fa;
    list-style-type:none;
}
.mass-spec-summary {
    height: 2em;
    line-height: 2em;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    text-indent: 2em;
    background:#008000;
    color:#fff;
}
.mass-spec-detail{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #A9EA00;
}

.method-parent{
    margin: 0;
    padding:0;
    border: 2px solid #03c9fa;
    text-indent: 1em;
}

.method{
    margin: 1em;
    position:relative;
    list-style: decimal inside;
    text-indent: 0;
    font-style: normal;
    background: #F0F8FF;
    padding: 2px;
    color:#000;
    border:2px outset #c0c0c0;
}

/* 整个测试套件都通过*/
.mass-asserts-pass{
    background:#a9ea00;
}
/* 整个测试套件有部分没有通过*/
.mass-asserts-unpass{
    background:#FFC0CB;
}
/* 整个测试套件有某个抛出异常*/
.mass-asserts-error{
    background: #D3D3D3;
}
.mass-assert-unpass{
    background:#FF0000;
}
.mass-assert-error{
    background:#000;
    color:#fff;
}


.method form{
    /*    position:absolute;*/
    top:-5em;
    left:0px;
    /*    display:none;*/
}



.mass-spec-log{
    background: #cc9!important;
}
/*用于点击展开*/
.mass-spec-slide {
    background:#a9ea00;
    text-indent: 2em;
    line-height: 1.4em;
    height: 1.4em;
    margin: 0;
}
.mass-spec-diff {
    background: #800080;
    margin: 1em;
}
.mass-spec-diff div{
    width:45%;
    float: left;
}
.mass-spec-diff pre{

    background: #00cc00;
}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */