/*** adding js-menu-vertical in addition to sf-menu creates a vertical menu ***/
.js-menu-vertical, .js-menu-vertical li {
	width:	10em;
}
/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
.js-menu-vertical li:hover ul,
.js-menu-vertical li.js-menu-hover ul {
	left:	10em; /* match ul width */
	top:	0;
}

/*** alter arrow directions ***/
.js-menu-vertical .js-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
.js-menu-vertical a > .js-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.js-menu-vertical a:focus > .js-sub-indicator,
.js-menu-vertical a:hover > .js-sub-indicator,
.js-menu-vertical a:active > .js-sub-indicator,
.js-menu-vertical li:hover > a > .js-sub-indicator,
.js-menu-vertical li.js-menu-hover > a > .js-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}