/* CSS Document */
html,body {
    background:#ddc;
}
a,a:visited{
    color:#00FF00;
}
header, footer, nav, section, article {
    display:block;
}
article{
    margin:0;
    padding:10px;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    color:#ffffff;
    background:#252D37;
    font-family:"Microsoft Yahei";
    font-size:14px;
}
h3{
    color:#ff7b26;
    border-bottom:3px solid #00FF00;
}
p, dl{
    text-indent:2em;
}
p .stress, legend{
    color:#00FF00;
    font-size:larger;
    font-weight:bolder;
}

button {
    border: 2px outset #000000;
    text-align:center;
    background: #101529;
    color: #00FF00;
    font-size:12px;
    font-weight:bold;
    line-height:1.5;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
}
.hide{
    display:none;
}

fieldset{
    padding:10px;
    border:3px solid #00FF00;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
}

.knowledge {
    padding:5px;
    background:#1B2426;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border:1px dashed #00FF00;
}

.note { 
    color:#ff0000;
}

.rundialog {
    overflow: auto;
    border: none;
    width:75%;
    background:#198488;
    color:#fff;
    font-size:14px;
    font-family: 'Comic Sans MS', cursive, Georgia;
}

.table1 {
    border:1px solid #666;border-collapse:collapse;width:700px
}
.table1 th ,.table1 td{
    border:1px solid #666;
}

