.tabs {
    border:20px solid #E9EDF1;
    position:relative;
    width:400px;
    height:200px;
    background:#fff url(tabs_header.jpg) left top no-repeat;
    overflow:hidden;
}
.tabs .trigger{
    float:left;
    height:40px;
    line-height:40px;
    margin-left:30px;
    width:50px;
    text-align:center;
    cursor: pointer;
    color:#fff;
    font-weight:700;
}
.tabs .trigger.active{
    color:yellow;
}
.tabs .panel{
    position:absolute;
    display:none;
    top:40px;
    left:0px;
    width:398px;
    height:150px;
    background:#fff;
    color: #000;
    border:1px solid #595A5A;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 5px 1px 3px  #8493A6;
}
.tabs .panel.active{
    display:block;
}
.tabs .panel div{
    margin:20px;
}
.green{
    position:relative;
    height:200px;
    width:400px;
    background:green;
    overflow:hidden;
}
.green .triggers{
    position:absolute;
    top:5px;
    left:20px;
    height:30px;
}
.green .trigger{
    height:20px;
    display:inline-block;
    float:left;
    line-height:20px;
    padding:1px 10px;
    margin-right:5px;
    color:#000;
    background:#00FF7F;
    text-align:center;
}
.green .active.trigger{
    padding-bottom:8px;
    color:#fff;
    background:#a9ea00;
}
.green .panel{
    display: none;
    position:absolute;
    width:400px;
    height:175px;
    top: 30px;
    left:0px;
    color:#000;
    background:#a9ea00;
}
.green .active.panel{
    display:block;
}
/* 垂直手风琴 */
.starfish  {
    background:#DCDCDC;
    width: 620px;
    height:245px;
    overflow:hidden;
}
.starfish .trigger{
    height: 30px;
    width: 600px;
    background: url(mass_accordion_trigger.jpg) no-repeat top right #a9d06a;
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    color: #000;
    border-bottom: 1px solid #cde99f;
    cursor: pointer;
}
.starfish .trigger.active{
    background: url(mass_accordion_trigger_active.jpg) no-repeat top right #e0542f;
    color: #fff;
    border-bottom: 1px solid #f68263;
}
.starfish .panel {
    width: 600px;
    height: 100px;
    padding: 5px 10px 15px 10px;
    color: #444;
    display:none;
    overflow: hidden;
}
/* 水平手风琴*/
.elephant{
    width:600px;
    height:195px;
    padding:30px;
    background:#fff;
    border:1px solid #b5c9e8;
    position:relative;
    overflow:hidden;
}
/* 这里要足够宽，能装下四个trigger与一个panel!*/
.elephant .mass_switchable{
    width:900px;
    height:180px;
}
.elephant .trigger{
    float:left;
    width:56px;
    height:180px;
    font-size:14px;
    font-weight:bold;
    background:#fff url(elephant_trigger.jpg) 0 0 no-repeat;
    color:#26526c;
    cursor:pointer;
}
/* 让字体垂直显示*/
.elephant .trigger span{
    margin-left:20px;
    margin-top:20px;
    width:14px;
    display:block;
    height:140px;
    color:#000;
    letter-spacing:1px;
    word-spacing:0;
    text-align:right;
}
.elephant .trigger.active{
    cursor:pointer;
    background:#fff url(elephant_active.jpg) 0 0 no-repeat
}
.elephant .trigger.active span{
    color:#fff;
}

.elephant .panel{
    float:left;
    padding:25px;
    width:320px;
    height:130px;
    border:1px solid #dbe9ea;
    border-left:0;
    margin-right:3px;
}
.elephant  .panel h2{
    font-size:25px;
    margin-top:10px;
    margin-bottom:10px;
    font-family:serif;
    color:#294F88;
}
.elephant  .panel  p{
    font-family:serif;
    font-size:14px;
    line-height:17px;
    color:#294F88;
}
/* 装饰用*/
.elephant .panel img{
    float:right;
    margin:0 0 0 20px;
    position:relative;
    top:-20px
}


.winnower {
    width:536px;
    height:265px;
    position:relative;
    overflow:hidden;
    border:2px solid #000;
}
.winnower .mass_switchable{
    width:3000px;/*此宽可容纳所有面板*/
    height:270px;
}
/* 平铺所有面板，实现整体往左移或往右移*/
.winnower .panel{
    float:left;
    display:block;
}
/* 设置触发点*/
.winnower .trigger{
    position:absolute;
    display: block;
    width:15px;
    height:15px;
    z-index:100;
    bottom: 20px;
}
/* 灰色的圆点 */
.winnower .trigger a {
    display:block;
    width:15px;
    height:15px;
    text-decoration:none;
    outline:none;
    background: url("winnower_s.png") no-repeat 3px -12px transparent;
}
/* 橙色的圆点 */
.winnower .trigger a:hover,.winnower .trigger.active a{
    background-position:-15px -12px;
}
/*上一个与下一个*/
.winnower .arrow{
    position:absolute;
    display:none;
    z-index:100;
    width:25px;
    height:40px;
    top:125px;
    background: url("winnower_s.png") no-repeat scroll -40px 0px transparent;
}
.winnower .prev{
    left:5px;
}
.winnower .next{
    background: url("winnower_s.png") no-repeat scroll -90px 0px transparent;
    right:5px;
}
.imac{
    width:640px;
    height:545px;
    overflow:hidden;
    border:2px solid #5296c7;
}
.imac .panel{
    float:left;
    width:640px;
    height:480px;
    display:block;
}
.imac .trigger{
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
}
.imac .trigger img{
    display:inline-block;
    border:1px solid #9cf;
}
.imac .trigger.active img,  .imac .trigger img:hover{
    border: 1px solid #369;
}
/* 让所有触发器居中对齐 */
.imac center {
    width:640px;
}
.fade{
    position:relative;
    width:478px;
    height:286px;
    border:1px solid #666;
    overflow:hidden;
}
.fade .panel{
    position:absolute;
}
.fade .triggers{
    position:absolute;
    bottom:0;
    background:#000;
    height:30px;
    width:478px;
    filter: Alpha(Opacity=30);
    opacity:0.3;
    z-index:10;
    cursor:pointer;
}
.fade .trigger {
    position:absolute;
    width:20px;
    height:20px;
    bottom: 5px;
    z-index:100;
}
.fade .trigger a{
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    display:inline-block;
    color:#FFF;
    border:#e5eaff 1px solid;
    background:#6f4f67;
    filter: Alpha(Opacity=80);
    opacity:0.8;
    text-decoration:none;
    cursor:pointer
}
.fade .trigger a:hover, .fade .trigger.active a{
    background:#900;
}
.dew {
    position:relative;
    width:500px;
    height:200px;
    overflow:hidden;
}
.dew .panel{
    position:absolute;
}
.news{
    width:200px;
    height:24px;
    border:1px solid black;
    position:relative;
    overflow:hidden;
}
.news .panel{
    position:absolute;
    top: 5px;
    width:150px;
}